<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">

<div th:replace="fragments/headtags.html :: headtags">
</div>
<body class="page-template-default page page-id-11 page-parent theme-gardena bt_bb_plugin_active bt_bb_fe_preview_toggle woocommerce-no-js btHeadingWeight_bold btMenuWeight_default btButtonWeight_bolder btHasAltLogo btMenuRightEnabled btStickyEnabled btHideHeadline btLightSkin btBelowMenu btNoDashInSidebar noBodyPreloader btSoftRoundedButtons btTransparentLightHeader btNoSidebar ">
<div class="btPageWrap" id="top">

    <div th:replace="fragments/header.html :: header">

    </div>
    <div class="btContentWrap btClear">
        <div class="btContentHolder">

            <div class="btContent">
                <div class="bt_bb_wrapper">
                    <div th:replace="fragments/nav_crumb.html :: nav_crumb"></div>
                    <section id="bt_bb_section5e916aa59e765"
                             class="bt_bb_section bt_bb_top_spacing_large bt_bb_bottom_spacing_medium bt_bb_color_scheme_4 bt_bb_layout_boxed_1400 bt_bb_vertical_align_top">
                        <div class="bt_bb_port">
                            <div class="bt_bb_cell">
                                <div class="bt_bb_cell_inner">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="12">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_color_scheme_3 bt_bb_dash_top bt_bb_size_normal bt_bb_superheadline bt_bb_align_inherit">
                                                        <h2><span class="bt_bb_headline_superheadline">Let's get together</span><span
                                                                class="bt_bb_headline_content"><span  th:text="${@environment.getProperty('steibs.contact.email')}"></span></span>
                                                        </h2></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="3">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_service bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit btNoText">
                                                        <a href="#" target="_self" data-ico-essential="&#xe930;"
                                                           class="bt_bb_icon_holder"></a>
                                                        <div class="bt_bb_service_content"></div>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_subheadline bt_bb_align_inherit"
                                                            style=";font-family:&#039;Noto Sans&#039;"><h3
                                                            style="font-family:'Noto Sans'"><span
                                                            class="bt_bb_headline_content"><span>Working Hours</span></span>
                                                    </h3>
                                                        <div class="bt_bb_headline_subheadline">Mon - Sat: 9am -
                                                            6pm<br/>
                                                            Sunday: CLOSED
                                                        </div>
                                                    </header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="3">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_service bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit btNoText">
                                                        <a href="#" target="_self" data-ico-essential="&#xe9d3;"
                                                           class="bt_bb_icon_holder"></a>
                                                        <div class="bt_bb_service_content"></div>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_subheadline bt_bb_align_inherit"
                                                            style=";font-family:&#039;Noto Sans&#039;"><h3
                                                            style="font-family:'Noto Sans'"><span
                                                            class="bt_bb_headline_content"><span>Location</span></span>
                                                    </h3>
                                                        <div class="bt_bb_headline_subheadline"  th:text="${@environment.getProperty('steibs.contact.address')}">NinLan Demonstrative Secondary School<br/>
                                                           Ogbor Hill, Aba, Abia State, Nigeria
                                                        </div>
                                                    </header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="3">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_service bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit btNoText">
                                                        <a href="#" target="_self" data-ico-essential="&#xea28;"
                                                           class="bt_bb_icon_holder"></a>
                                                        <div class="bt_bb_service_content"></div>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_subheadline bt_bb_align_inherit"
                                                            style=";font-family:&#039;Noto Sans&#039;"><h3
                                                            style="font-family:'Noto Sans'"><span
                                                            class="bt_bb_headline_content"><span>Call Center</span></span>
                                                    </h3>
                                                        <div class="bt_bb_headline_subheadline"> [[${@environment.getProperty('steibs.contact.phone')}]]<br/>
                                                            Give us a free call 24/7
                                                        </div>
                                                    </header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="3">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_service bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit btNoText">
                                                        <a href="#" target="_self" data-ico-essential="&#xe957;"
                                                           class="bt_bb_icon_holder"></a>
                                                        <div class="bt_bb_service_content"></div>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_subheadline bt_bb_align_inherit"
                                                            style=";font-family:&#039;Noto Sans&#039;"><h3
                                                            style="font-family:'Noto Sans'"><span
                                                            class="bt_bb_headline_content"><span>Write Us</span></span>
                                                    </h3>
                                                        <div class="bt_bb_headline_subheadline">
                                                            [[${@environment.getProperty('steibs.contact.email')}]]
                                                        </div>
                                                    </header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="bt_bb_section5e916aa59f25b"
                             class="bt_bb_section bt_bb_top_spacing_normal bt_bb_color_scheme_6 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
                        <div class="bt_bb_port">
                            <div class="bt_bb_cell">
                                <div class="bt_bb_cell_inner">
                                    <div class="bt_bb_row bt_bb_column_gap_0">
                                        <div class="bt_bb_column col-md-8 col-ms-12 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_animation_fade_in animate bt_bb_padding_0"
                                             data-width="8">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_color_scheme_6 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit">
                                                        <h1><span class="bt_bb_headline_content"><span>Please contribute to our mission to conserve the region plants by donating</span></span>
                                                        </h1></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_center bt_bb_vertical_align_middle bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="4">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_1 bt_bb_style_filled bt_bb_size_normal bt_bb_width_inline bt_bb_shape_round bt_bb_align_inherit">
                                                        <a href="/about/contact/" target="_self"
                                                           class="bt_bb_link" title="Donation"><span
                                                                class="bt_bb_button_text">Donation</span></a></div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div th:replace="about/location/frag_location_map.html :: frag_location_map"></div>
                </div>

                <div th:replace="fragments/footer.html :: footer">
                </div>
            </div>
        </div>
    </div>
</div> <!-- /pageWrap -->
</body>