<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<th:block th:fragment="frag_services_popsol">
    <section id="bt_bb_section5e920c383c7f7"
             class="bt_bb_section bt_bb_top_spacing_large bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row bt_bb_column_gap_20">
                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="6">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <header class="bt_bb_headline bt_bb_color_scheme_3 bt_bb_dash_none bt_bb_size_normal bt_bb_align_inherit">
                                        <h3><span class="bt_bb_headline_content"><span>Popular Landscape Solutions</span></span>
                                        </h3></header>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_3 bt_bb_style_underline bt_bb_size_medium bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit bt_bb_font_weight_normal">
                                        <a href="#" target="_self" class="bt_bb_link"
                                           th:title="'All' + ${@environment.getProperty('app.company')} +'Solutions'"><span
                                                class="bt_bb_button_text">All [[${@environment.getProperty('app.company')}]] Solutions</span></a>
                                    </div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="6">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_text"><p>For visitors who prefer more formal
                                        gardens we have incorporated an elegant rill garden with
                                        minimalistic planting. You may also enjoy our art exhibitions in
                                        the tea room all summer and the wire sculpture exhibition in the
                                        garden from April to September on every Wednesday and Friday
                                        afternoon.</p>
                                    </div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bt_bb_row bt_bb_column_gap_50">
                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="4">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_card_icon bt_bb_icon_color_scheme_3 bt_bb_title_color_scheme_3">
                                        <a href="#" target="_self" title="Lawn Moving">
                                            <div class="bt_bb_card_icon_content">
                                                <div class="bt_bb_card_icon_icon"><span
                                                        data-ico-landscaping="&#xe92b;"
                                                        class="bt_bb_icon_holder"></span></div>
                                                <h3 class="bt_bb_card_icon_title">Lawn Moving</h3>
                                                <div class="bt_bb_card_icon_text">The garden
                                                    incorporates a series of sumptuous herbaceous
                                                    borders.
                                                </div>
                                            </div>
                                        </a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                    <div class="bt_bb_card_icon bt_bb_icon_color_scheme_3 bt_bb_title_color_scheme_3">
                                        <a href="#" target="_self" title="Pathways & Patios">
                                            <div class="bt_bb_card_icon_content">
                                                <div class="bt_bb_card_icon_icon"><span
                                                        data-ico-landscaping="&#xe928;"
                                                        class="bt_bb_icon_holder"></span></div>
                                                <h3 class="bt_bb_card_icon_title">Pathways & Patios</h3>
                                                <div class="bt_bb_card_icon_text">We have a particularly
                                                    large selection of pulmonarias and geraniums.
                                                </div>
                                            </div>
                                        </a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="4">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_card_icon bt_bb_icon_color_scheme_3 bt_bb_title_color_scheme_3">
                                        <a href="#" target="_self" title="Watering">
                                            <div class="bt_bb_card_icon_content">
                                                <div class="bt_bb_card_icon_icon"><span
                                                        data-ico-landscaping="&#xe91d;"
                                                        class="bt_bb_icon_holder"></span></div>
                                                <h3 class="bt_bb_card_icon_title">Watering</h3>
                                                <div class="bt_bb_card_icon_text">Foliage is used to add
                                                    interest and texture to the beds and we use a range.
                                                </div>
                                            </div>
                                        </a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                    <div class="bt_bb_card_icon bt_bb_icon_color_scheme_3 bt_bb_title_color_scheme_3">
                                        <a href="#" target="_self" title="Ponds & Water Features">
                                            <div class="bt_bb_card_icon_content">
                                                <div class="bt_bb_card_icon_icon"><span
                                                        data-ico-landscaping="&#xe905;"
                                                        class="bt_bb_icon_holder"></span></div>
                                                <h3 class="bt_bb_card_icon_title">Ponds & Water
                                                    Features</h3>
                                                <div class="bt_bb_card_icon_text">There is a huge
                                                    selection of plants that thrive in the shade to
                                                    provide color.
                                                </div>
                                            </div>
                                        </a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="4">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_card_icon bt_bb_icon_color_scheme_3 bt_bb_title_color_scheme_3">
                                        <a href="#" target="_self" title="Terrain Modification">
                                            <div class="bt_bb_card_icon_content">
                                                <div class="bt_bb_card_icon_icon"><span
                                                        data-ico-landscaping="&#xe908;"
                                                        class="bt_bb_icon_holder"></span></div>
                                                <h3 class="bt_bb_card_icon_title">Terrain
                                                    Modification</h3>
                                                <div class="bt_bb_card_icon_text">Many of the plants in
                                                    the garden are available to buy in our nursery.
                                                </div>
                                            </div>
                                        </a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                    <div class="bt_bb_card_icon bt_bb_icon_color_scheme_3 bt_bb_title_color_scheme_3">
                                        <a href="#" target="_self" title="Garden Walls">
                                            <div class="bt_bb_card_icon_content">
                                                <div class="bt_bb_card_icon_icon"><span
                                                        data-ico-landscaping="&#xe90a;"
                                                        class="bt_bb_icon_holder"></span></div>
                                                <h3 class="bt_bb_card_icon_title">Garden Walls</h3>
                                                <div class="bt_bb_card_icon_text">Our featured workshop
                                                    is Growing More and Better Vegetables on 4th
                                                    September.
                                                </div>
                                            </div>
                                        </a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bt_bb_row bt_bb_column_gap_45 bt_bb_color_scheme_6 bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm">
                        <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal btLazyLoadBackground bt_bb_column_background_image"
                             data-background_image_src='/wp-content/uploads/sites/3/2019/08/inner_02_home_02.jpg'
                             data-width="3">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner"></div>
                            </div>
                        </div>
                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="6">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_subheadline bt_bb_align_inherit">
                                        <h3><span class="bt_bb_headline_content"><span>Contact us for a free quotation.</span></span>
                                        </h3>
                                        <div class="bt_bb_headline_subheadline">Wide range of services
                                        </div>
                                    </header>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="3">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_2 bt_bb_style_filled bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                        <a href="about/get-quote/" target="_self"
                                           class="bt_bb_link" title="Read more"><span
                                                class="bt_bb_button_text">Read more</span></a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bt_bb_row bt_bb_column_gap_45 bt_bb_color_scheme_6 bt_bb_hidden_md bt_bb_hidden_lg">
                        <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="12">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                    <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle">
                                                        <span><img
                                                                src="wp-content/plugins/bold-page-builder/img/blank.gif"
                                                                data-full_image_src="/wp-content/uploads/sites/3/2019/08/inner_02_home_02.jpg"
                                                                data-image_src="/wp-content/uploads/sites/3/2019/08/inner_02_home_02.jpg"
                                                                title="inner_02_home_02"
                                                                alt="/wp-content/uploads/sites/3/2019/08/inner_02_home_02.jpg"
                                                                class="btLazyLoadImage"></span></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_subheadline bt_bb_align_inherit">
                                        <h3><span class="bt_bb_headline_content"><span>Contact us for a free quotation.</span></span>
                                        </h3>
                                        <div class="bt_bb_headline_subheadline">Wide range of services
                                        </div>
                                    </header>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_2 bt_bb_style_filled bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                        <a href="about/get-quote/" target="_self"
                                           class="bt_bb_link" title="Read more"><span
                                                class="bt_bb_button_text">Read more</span></a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>