<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<th:block th:fragment="frag_services_hardsol">
    <section id="bt_bb_section5e920c3834bef"
             class="bt_bb_section bt_bb_top_spacing_large bt_bb_bottom_spacing_large bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row bt_bb_column_gap_30">
                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="6">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <header class="bt_bb_headline bt_bb_color_scheme_3 bt_bb_dash_none bt_bb_size_normal bt_bb_align_inherit">
                                        <h2><span class="bt_bb_headline_content"><span>We offer Hard & Soft Landscape Solutions</span></span>
                                        </h2></header>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                    <div class="bt_bb_text"><p>Whether you are looking for plants,
                                        trees, shrubs or garden accessories, at SteibsFloral, we&#8217;ve got
                                        you covered. Established in 1911, we supply top quality garden
                                        plants and accessories throughout NY. We can also give you
                                        expert advice and guidance on how to care for your plants
                                        throughout the year.</p>
                                    </div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                        <a href="#" target="_self" class="bt_bb_link" title="Read more"><span
                                                class="bt_bb_button_text">Read more</span></a></div>
                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                             data-width="6">
                            <div class="bt_bb_column_content">
                                <div class="bt_bb_column_content_inner">
                                    <div class="bt_bb_row_inner bt_bb_column_gap_15 bt_bb_column_inner_gap_15">
                                        <div class="bt_bb_column_inner col-md-6 col-sm-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_inner_content">
                                                <div class="bt_bb_card_image bt_bb_shape_square bt_bb_weight_normal">
                                                    <a href="#" target="_self"
                                                       title="Landscape Designing">
                                                        <div class="bt_bb_card_image_inner">
                                                            <div class="bt_bb_card_image_image">
                                                                <div class="bt_bb_image bt_bb_hover_style_zoom-in">
                                                                                    <span><img
                                                                                            src="../../wp-content/uploads/sites/3/2019/08/card_01.jpg"
                                                                                            data-full_image_src="/wp-content/uploads/sites/3/2019/08/card_01.jpg"
                                                                                            title="Landscape Designing "
                                                                                            alt="Landscape Designing "></span>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_card_image_content">
                                                                <div class="bt_bb_card_image_title">
                                                                    <header class="bt_bb_headline bt_bb_color_scheme_5 bt_bb_dash_none bt_bb_size_small">
                                                                        <h3><span
                                                                                class="bt_bb_headline_content"><span>Landscape Designing</span></span>
                                                                        </h3></header>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                <div class="bt_bb_card_image bt_bb_shape_square bt_bb_weight_normal">
                                                    <a href="#" target="_self"
                                                       title="Plant &amp; Tree Solutions">
                                                        <div class="bt_bb_card_image_inner">
                                                            <div class="bt_bb_card_image_image">
                                                                <div class="bt_bb_image bt_bb_hover_style_zoom-in">
                                                                                    <span><img
                                                                                            src="../../wp-content/uploads/sites/3/2019/08/card_03.jpg"
                                                                                            data-full_image_src="/wp-content/uploads/sites/3/2019/08/card_03.jpg"
                                                                                            title="Plant &amp; Tree Solutions "
                                                                                            alt="Plant &amp; Tree Solutions "></span>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_card_image_content">
                                                                <div class="bt_bb_card_image_title">
                                                                    <header class="bt_bb_headline bt_bb_color_scheme_5 bt_bb_dash_none bt_bb_size_small">
                                                                        <h3><span
                                                                                class="bt_bb_headline_content"><span>Plant & Tree Solutions</span></span>
                                                                        </h3></header>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column_inner col-md-6 col-sm-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_inner_content">
                                                <div class="bt_bb_card_image bt_bb_shape_square bt_bb_weight_normal">
                                                    <a href="#" target="_self"
                                                       title="Landscape Management">
                                                        <div class="bt_bb_card_image_inner">
                                                            <div class="bt_bb_card_image_image">
                                                                <div class="bt_bb_image bt_bb_hover_style_zoom-in">
                                                                                    <span><img
                                                                                            src="../../wp-content/uploads/sites/3/2019/08/card_02.jpg"
                                                                                            data-full_image_src="/wp-content/uploads/sites/3/2019/08/card_02.jpg"
                                                                                            title="Landscape Management "
                                                                                            alt="Landscape Management "></span>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_card_image_content">
                                                                <div class="bt_bb_card_image_title">
                                                                    <header class="bt_bb_headline bt_bb_color_scheme_5 bt_bb_dash_none bt_bb_size_small">
                                                                        <h3><span
                                                                                class="bt_bb_headline_content"><span>Landscape Management</span></span>
                                                                        </h3></header>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                <div class="bt_bb_card_image bt_bb_shape_square bt_bb_weight_normal">
                                                    <a href="#" target="_self"
                                                       title="Landscape Enhancements">
                                                        <div class="bt_bb_card_image_inner">
                                                            <div class="bt_bb_card_image_image">
                                                                <div class="bt_bb_image bt_bb_hover_style_zoom-in">
                                                                                    <span><img
                                                                                            src="../../wp-content/uploads/sites/3/2019/08/card_04.jpg"
                                                                                            data-full_image_src="/wp-content/uploads/sites/3/2019/08/card_04.jpg"
                                                                                            title="Landscape Enhancements "
                                                                                            alt="Landscape Enhancements "></span>
                                                                </div>
                                                            </div>
                                                            <div class="bt_bb_card_image_content">
                                                                <div class="bt_bb_card_image_title">
                                                                    <header class="bt_bb_headline bt_bb_color_scheme_5 bt_bb_dash_none bt_bb_size_small">
                                                                        <h3><span
                                                                                class="bt_bb_headline_content"><span>Landscape Enhancements</span></span>
                                                                        </h3></header>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none bt_bb_hidden_md bt_bb_hidden_lg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
</html>