<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">

<div th:replace="fragments/headtags.html :: headtags">
</div>
<body class="page-template-default page page-id-11 page-parent theme-gardena bt_bb_plugin_active bt_bb_fe_preview_toggle woocommerce-no-js btHeadingWeight_bold btMenuWeight_default btButtonWeight_bolder btHasAltLogo btMenuRightEnabled btStickyEnabled btHideHeadline btLightSkin btBelowMenu btNoDashInSidebar noBodyPreloader btSoftRoundedButtons btTransparentLightHeader btNoSidebar ">
<div class="btPageWrap" id="top">

    <div th:replace="fragments/header.html :: header">

    </div>
    <div class="btContentWrap btClear">
        <div class="btContentHolder">

            <div class="btContent">
                <div class="bt_bb_wrapper">
                    <div th:replace="fragments/nav_crumb.html :: nav_crumb"></div>
                    <section id="bt_bb_section5e920c382f1bb"
                             class="bt_bb_section bt_bb_top_spacing_large bt_bb_bottom_spacing_medium bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
                        <div class="bt_bb_port">
                            <div class="bt_bb_cell">
                                <div class="bt_bb_cell_inner">
                                    <div class="bt_bb_row bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm">
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extralarge bt_bb_align_inherit">
                                                        <h2><span class="bt_bb_headline_content"><span>We don't settle for boring <b>landscape.</b></span></span>
                                                        </h2></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                                        <a href="#" target="_self" class="bt_bb_link" title="Read more"><span
                                                                class="bt_bb_button_text">Read more</span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_right bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit">
                                                        <h2><span class="bt_bb_headline_content"><span>TXT or CALL for a free estimate</span></span>
                                                        </h2></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_icon btPhoneIcon bt_bb_style_borderless bt_bb_size_large bt_bb_shape_circle bt_bb_align_inherit">
                                                        <a href="#" target="_self" th:title="${@environment.getProperty('steibs.contact.phone')}"
                                                           data-ico-icon7stroke="&#xe627;"
                                                           class="bt_bb_icon_holder"><span th:text="${@environment.getProperty('steibs.contact.phone')}"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bt_bb_row bt_bb_hidden_md bt_bb_hidden_lg">
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extralarge bt_bb_align_inherit">
                                                        <h2><span class="bt_bb_headline_content"><span>We don't settle for boring <b>landscape.</b></span></span>
                                                        </h2></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                                        <a href="#" target="_self" class="bt_bb_link" title="Read more"><span
                                                                class="bt_bb_button_text">Read more</span></a></div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit">
                                                        <h2><span class="bt_bb_headline_content"><span>TXT or CALL for a free estimate</span></span>
                                                        </h2></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_icon btPhoneIcon bt_bb_style_borderless bt_bb_size_large bt_bb_shape_circle bt_bb_align_inherit">
                                                        <a href="#" target="_self" th:title="${@environment.getProperty('steibs.contact.phone')}"
                                                           data-ico-icon7stroke="&#xe627;"
                                                           class="bt_bb_icon_holder"><span th:text="${@environment.getProperty('steibs.contact.phone')}">1-800-700-600</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="12">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_separator bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium bt_bb_border_style_solid"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_align_inherit">
                                                        <h3><span class="bt_bb_headline_content"><span>What we do</span></span>
                                                        </h3></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bt_bb_row bt_bb_column_gap_10">
                                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="4">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_zoom-in bt_bb_content_display_always bt_bb_content_align_middle">
                                                        <span><img
                                                                src="../../wp-content/uploads/sites/3/2019/08/home_4_gallery_1.jpg"
                                                                data-full_image_src="/wp-content/uploads/sites/3/2019/08/home_4_gallery_1.jpg"
                                                                title="home_4_gallery_1"
                                                                alt="/wp-content/uploads/sites/3/2019/08/home_4_gallery_1.jpg"></span>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit">
                                                        <h4><span
                                                                class="bt_bb_headline_content"><span>Landscape Design</span></span>
                                                        </h4></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_text">
                                                        <ul>
                                                            <li>Water features, streams and ponds</li>
                                                            <li>Brick, stone, or paver patios</li>
                                                            <li>Detailed plantings</li>
                                                        </ul>
                                                    </div>
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_5 bt_bb_style_underline bt_bb_size_medium bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                                        <a href="index.html" target="_self" class="bt_bb_link"
                                                           title="Full List"><span
                                                                class="bt_bb_button_text">Full List</span></a></div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="4">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_zoom-in bt_bb_content_display_always bt_bb_content_align_middle">
                                                        <span><img
                                                                src="../../wp-content/uploads/sites/3/2019/08/home_4_gallery_2.jpg"
                                                                data-full_image_src="/wp-content/uploads/sites/3/2019/08/home_4_gallery_2.jpg"
                                                                title="home_4_gallery_2"
                                                                alt="/wp-content/uploads/sites/3/2019/08/home_4_gallery_2.jpg"></span>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit">
                                                        <h4><span class="bt_bb_headline_content"><span>Landscape Maintenance</span></span>
                                                        </h4></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_text">
                                                        <ul>
                                                            <li>Block or natural stone walls</li>
                                                            <li>Shoreline restoration</li>
                                                            <li>Removal of invasive species</li>
                                                        </ul>
                                                    </div>
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_5 bt_bb_style_underline bt_bb_size_medium bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                                        <a href="index.html" target="_self" class="bt_bb_link"
                                                           title="Full List"><span
                                                                class="bt_bb_button_text">Full List</span></a></div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="4">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_zoom-in bt_bb_content_display_always bt_bb_content_align_middle">
                                                        <span><img
                                                                src="../../wp-content/uploads/sites/3/2019/08/home_4_gallery_3.jpg"
                                                                data-full_image_src="/wp-content/uploads/sites/3/2019/08/home_4_gallery_3.jpg"
                                                                title="home_4_gallery_3"
                                                                alt="/wp-content/uploads/sites/3/2019/08/home_4_gallery_3.jpg"></span>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                    <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit">
                                                        <h4><span class="bt_bb_headline_content"><span>Property Enhancements</span></span>
                                                        </h4></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_text">
                                                        <ul>
                                                            <li>Outdoor kitchen &amp; living spaces</li>
                                                            <li>Habitat reconstruction</li>
                                                            <li>Children’s environments</li>
                                                        </ul>
                                                    </div>
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_5 bt_bb_style_underline bt_bb_size_medium bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit">
                                                        <a href="index.html" target="_self" class="bt_bb_link"
                                                           title="Full List"><span
                                                                class="bt_bb_button_text">Full List</span></a></div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="bt_bb_section5e920c383362e"
                             class="bt_bb_section bt_bb_top_spacing_large bt_bb_bottom_spacing_medium bt_bb_layout_boxed_1200 bt_bb_vertical_align_top"
                             style=";background-color:#eaefe4;">
                        <div class="bt_bb_port">
                            <div class="bt_bb_cell">
                                <div class="bt_bb_cell_inner">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header class="bt_bb_headline bt_bb_dash_top bt_bb_size_medium bt_bb_superheadline bt_bb_align_inherit">
                                                        <h3><span
                                                                class="bt_bb_headline_superheadline">Our Expertise</span><span
                                                                class="bt_bb_headline_content"><span>Thoughtful improvements to enrich your <b>residential</b> or <b>corporate</b> appearance</span></span>
                                                        </h3></header>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit">
                                                        <span data-ico-fontawesome="&#xf00c;" class="bt_bb_icon_holder"><span>5 Year Warranty on Workmanship</span></span>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_extra_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit">
                                                        <span data-ico-fontawesome="&#xf00c;" class="bt_bb_icon_holder"><span>Every Project is Run by a Team of Experts</span></span>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_extra_small bt_bb_border_style_none"></div>
                                                    <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_normal bt_bb_shape_circle bt_bb_align_inherit">
                                                        <span data-ico-fontawesome="&#xf00c;" class="bt_bb_icon_holder"><span>We Save You Time, Money, and Space</span></span>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-md-6 col-sm-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_animation_fade_in animate bt_bb_padding_normal"
                                             data-width="6">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_zoom-in bt_bb_content_display_always bt_bb_content_align_middle bt_bb_content_exists">
                                                        <span><img
                                                                src="../../wp-content/plugins/bold-page-builder/img/blank.gif"
                                                                data-full_image_src="/wp-content/uploads/sites/3/2019/08/home_4_video_image.jpg"
                                                                data-image_src="/demo-02/wp-content/uploads/sites/3/2019/08/home_4_video_image.jpg"
                                                                title="home_4_video_image"
                                                                alt="/wp-content/uploads/sites/3/2019/08/home_4_video_image.jpg"
                                                                class="btLazyLoadImage"></span>
                                                        <div class="bt_bb_image_content">
                                                            <div class="bt_bb_image_content_flex">
                                                                <div class="bt_bb_image_content_inner">
                                                                    <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xlarge bt_bb_shape_circle bt_bb_align_inherit">
                                                                        <a href="#" target="_self"
                                                                           data-ico-essential="&#xe9f6;"
                                                                           class="bt_bb_icon_holder"></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section th:replace="services/frag_services_hardsol.html :: frag_services_hardsol"></section>
                    <section th:replace="services/frag_services_dreamit.html :: frag_services_dreamit"></section>
                    <section th:replace="services/frag_services_popsol.html :: frag_services_popsol"></section>

                </div>

                <div th:replace="fragments/footer.html :: footer">
                </div>
            </div>
        </div>
    </div>
</div> <!-- /pageWrap -->
</body>