<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<th:block th:fragment="header">
    <div class="btVerticalHeaderTop">
        <div class="btVerticalMenuTrigger">&nbsp;<div class="bt_bb_icon"><a href="#" target="_self"
                                                                            data-ico-fa="&#xf0c9;"
                                                                            class="bt_bb_icon_holder"></a></div>
        </div>

        <div class="btLogoArea">
            <div class="logo">
				<span>
					<a href="/"><img class="btMainLogo" data-hw="2.7875"
                                              src="/images/logo.svg" alt="Demo 02"><img
                            class="btAltLogo" src="/images/logo.svg" alt="Demo 02"></a>				</span>
            </div><!-- /logo -->
        </div><!-- /btLogoArea -->
    </div>
    <header class="mainHeader btClear gutter ">
        <div class="mainHeaderInner">
            <div class="btLogoArea menuHolder btClear">
                <div class="port">
                    <div class="btHorizontalMenuTrigger">&nbsp;
                        <div class="bt_bb_icon">
                            <a class="bt_bb_icon_holder" data-ico-fa="&#xf0c9;"
                               href="#"
                               target="_self">
                            </a>
                        </div>
                    </div>
                    <div class="logo">
						<span>
							<a href="/">
                                <img alt="Steibs" class="btMainLogo"
                                     data-hw="2.7875"
                                     src="/images/logo.svg">
                                <img alt="Steibs"
                                     class="btAltLogo"
                                     src="/images/logo.svg"></a>
                        </span>
                    </div><!-- /logo -->
                    <div class="menuPort">
                        <div class="topBarInMenu">
                            <div class="topBarInMenuCell">
                                <div class="btButtonWidget btOutline btWithLink">
                                    <a class="btButtonWidgetLink"
                                       href="/about/contact"
                                       target="_self">
                                        <span class="btButtonWidgetText">Contact Us</span></a></div>
                            </div><!-- /topBarInMenu -->
                        </div><!-- /topBarInMenuCell -->
                        <nav>
                            <ul class="menu" id="menu-primary-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-1589 menu-item-2350"
                                    id="menu-item-2350">
                                    <a aria-current="page" href="/">Home</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2389"
                                    id="menu-item-2389">
                                    <a aria-current="page" href="/services/">Services</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"
                                    id="menu-item-59">
                                    <a href="/projects/">Projects</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"
                                    id="menu-item-40">
                                    <a href="/blog/">Blog</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"
                                    id="menu-item-41">
                                    <a href="/shop/">Shop</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-43"
                                    id="menu-item-43">
                                    <a href="/about/">About</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1616"
                                            id="menu-item-1616">
                                            <a href="/about/">About</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2444"
                                            id="menu-item-2444">
                                            <a href="/about/team">Team</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2445"
                                            id="menu-item-2445">
                                            <a href="/about/testimonials">Testimonials</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2877"
                                            id="menu-item-2877">
                                            <a href="/about/history">History</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2450"
                                            id="menu-item-2450">
                                            <a href="/about/get-quote">Get Quote</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"
                                            id="menu-item-42">
                                            <a href="/about/contact">Contact</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2454"
                                            id="menu-item-2454">
                                            <a href="/about/location">Location</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- .menuPort -->
                </div><!-- /port -->
            </div><!-- /menuHolder / btBelowLogoArea -->
        </div><!-- / inner header for scrolling -->
    </header><!-- /.mainHeader -->

</th:block>
</html>